<%#CRUD page%>
<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>


<div class="form-group">
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>
</div>

<div class="form-group">
  <%= f.label :content, "Content" %>
  <%= f.text_area :content %>
</div>

<div>
  <%= f.label :draft, "Status:" %>
  <%= f.select :draft, [["draft", "true"],["release", "false"]] %>
</div>


