<h1>Forum</h1>


<%= link_to "New Post", new_post_path %>

<%# link_to 'Sort by lastest comments', post_comments_path( :order => "created_at") %>
<%# link_to 'Sort by Default', events_path %>


<table>

  <tr>
    <td>Topic</td>
    <td>Comments</td>
    <td>&nbsp&nbspLastest comment time</td>
    <td></td>
  </tr>

  <% @posts.each do |post|%>

  <tr>
    <td><%= link_to post.title, post_path(post)%></td>
    <td><%= post.comments.count %></td>
    <td>
      <% if post.comments.count > 0 %>
      <%= post.comments.last.updated_at  %>

      <% else %>

      <% end %>
      </td>
    <td>&nbsp&nbsp</td>
    <td><%= link_to "Edit", edit_post_path(post), :class => "btn btn-primary"%></td>
    <td><%= link_to "Delete", post_path(post), :method => :delete, :class => "btn btn-danger", :data => {:confirm => "Are you sure?"} %></td>
  </tr>
  <% end %>
</table>