<p>Title: <%= @post.title%></p>
<p><%= @post.content%></p>
<p><%= @post.user.email%></p>


<p>Category:
  <% @post.categories.each do |g| %>
    <%= g.name %>
  <% end %>
</p>
<br>

<%= link_to "New Comment", new_post_comment_path(@post)%>
<p>Total comments:<%= @post.comments.count%></p>

<table class="table">
  <tr>
    <td>Comment</td>
    <td>User</td>
  </tr>
  <% @post.comments.each do |c|%>
    <tr>

      <td><%= c.content %></td>
      <td><%=c.user.email%></td>
      <td><%= link_to "Edit", edit_post_comment_path(@post, c), :class => "btn btn-primary"%></td>
      <td><%= link_to "Delete", post_comment_path(@post, c), :method => :delete, :class => "btn btn-danger", :data => {:confirm => "Are you sure?"} %></td>
    </tr>
  <%end%>
</table>


<%= link_to "Back to Index", posts_path %>

