<p>Title: <%= @post.title%></p>
<p><%= @post.content%></p>
<p><%= @post.user.email%></p>

<div class="favourite pull-right">
  <% if current_user%>
    <span id ="favourite-block"%>
      <%= render "favourite"%>
    </span>
  <%end%>
</div>

<div class="facebood-good">
<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=200&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId=1057048347714832" width="200" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>

<p>Category:
  <% @post.categories.each do |g| %>
    <%= g.name %>
  <% end %>
</p>
<br>

<% if @post.logo.exists? %>
  <%= link_to @post.logo.url, :target => "_blank" do %>
    <%= image_tag(@post.logo.url(:thumb)) %>
  <% end %>
<% end %>

<% if current_user %>
  <%= link_to "New Comment", new_post_comment_path(@post)%>
<%end%>


<p>Total comments:<%= @post.comments.count%></p>

<table class="table">
  <tr>
    <td>Comment:</td>

  </tr>
  <% @post.comments.each do |c|%>
    <tr>

      <td><%= c.content %></td>
      <td>
        <% if c.logo.exists? %>
          <%= link_to c.logo.url, :target => "_blank" do %>
            <%= image_tag(c.logo.url(:thumb)) %>
          <% end %>
        <% end %>
      </td>
      <td><%#=c.user.email%></td>
      <% if current_user && (current_user.author?(@post)||current_user.admin?)%>
        <td><%= link_to "Edit", edit_post_comment_path(@post, c), :class => "btn btn-primary"%></td>
        <td><%= link_to "Delete", post_comment_path(@post, c), :method => :delete, :class => "btn btn-danger", :data => {:confirm => "Are you sure?"} %></td>
      <%end%>
    </tr>
  <%end%>
</table>


<%= link_to "Back to Index", posts_path %>

