<!DOCTYPE html>
<html>
<head>

  <br><br><br>
  <%= link_to "About", about_posts_path %>
  <br><br>

  <title>Forum Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if current_user %>
    <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
    <%= link_to('帳號設定', edit_user_registration_path(:user))%>|
    <%= link_to('修改密碼', edit_user_registration_path(:user)) %> |
    <%= link_to('登出', destroy_user_session_path, :method => :delete) %>
  <% else %>
    <%= link_to('註冊', new_registration_path(:user)) %> |
    <%= link_to('登入', new_session_path(:user)) %> |
    <%= link_to "登入 Facebook", user_omniauth_authorize_path(:facebook) %>
  <% end %>

<%= yield %>

</body>
</html>
